.bg-angelBlue\.05 {
  background-color: var(--angel_blue_25);
}

.bg-angelBlue\.25Full {
  background-color: var(--angel_blue_50);
}

.bg-angelBlue\.25 {
  background-color: var(--angel_blue_50_op25);
}

.bg-angelYellow {
  background-color: var(--angel_yellow_100);
  border-color: var(--angel_yellow_100);
}

.bg-angelRedM {
  background-color: var(--angel_red_100);
  border-color: var(--angel_red_100);
}