.border-angel {
  border-color: var(--angel_primary);
}

.border-transparent {
  border-color: transparent;
}

.border-angelYellow {
  border-color: var(--angel_yellow_100);
}

.border-angelRed {
  border-color: var(--angel_red_100);
}